// Bootstrap Variables customized for this project
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width:         20px !default;

// Install Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

h1 {

}

h2 {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

li {
  display: inline;
  padding: 10px;
}

// Background Fill
.wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(36, 35, 31, 0.7) 0%, rgba(36, 35, 31, 0.7) 100%), url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: 50% 0;
  min-height: 1200px;
}

// Central content frame
.main-content {
  width: 100%;
  height: 100%;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  color: black;
  margin: 0 auto;
  text-align: center;
}

// Links & Social navbar
.subtext {
  display: inline;
  color: white;
  text-transform: uppercase;
  line-height: 4.5em;

  & a {
    color: white;
  }
}

.separator {
  display: inline;

  & ul {
    list-style: decimal;
  }
}

.socials {
  float: right;
  margin-top: 6px;
}

#facebook {
  font-size: 3.5em;
  color: rgb(68, 88, 151);
  display: inline-block;

  & :hover {
    color: darkblue;
  }
}

#rss {
  font-size: 3.5em;
  color: rgb(204, 143, 50);
  display: inline-block;

  & :hover {
    color: orange;
  }
}

#twitter {
  font-size: 3.5em;
  color: rgb(106, 141, 199);
  display: inline-block;

  & :hover {
    color: blue;
  }
}

#youtube {
  font-size: 3.5em;
  color: rgb(178, 56, 45);
  display: inline-block;

  & :hover {
    color: red;
  }
}

.main-nav {
  clear: right;
  width: 100%;
  margin-bottom: 30px;
}

.nav-box {
  display: block;
  max-width: 100%;
  text-align: center;
  background-color: red;
  padding: 0 !important;
}

#nav-button {
  height: 34px;
  line-height: 36px;
  background-color: red;
  color: white;
  font-size: .9em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;

  & a {
    color: white;
  }

  & :before, :after {
    content: " — ";
    color: white;
  }
}

// Main image & logo
.image-sect {
  margin-top: 20px;
}

.top-image {
  background-image: url(../assets/top-image.png);
  background-size: 130%;
  background-position: 0 -135px;
  position: relative;
  overflow: hidden;
  border: 10px solid white;

  & :before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    background-image: url(../assets/grid.png);
    background-repeat: repeat;
    background-size: cover;
  }
}

.logo {
  position: relative;
  float: left;
  margin: 30px;
}

.carousel-buttons {
  margin-top: 10px;
  margin-bottom: 10px;

  & input {
    margin-left: 2px;
    margin-right: 2px;
  }
}

// Blog summaries
.post-sect {
  width: 32.65%;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0 !important;
}

.topicbox {
  display: block;
  width: 100%;
  min-height: 320px;
  background-color: white;
  padding: 1px 20px;
  line-height: 1em;
  text-align: left;

  p {
    font-size: .75em;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    color: #666;
    line-height: 1.5em;
  }
}

#date {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Hind', sans-serif;
  color: #999;
}

#read-more {
  font-family: 'Hind', sans-serif;
  font-size: .85em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(180, 41, 46);
  display: block;
  text-align: center;
}


// Pro Skaters area
.skater-sect {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 !important;
}

.skater-1 {
  float: left;
}

.skater1 {
  position: relative;
  width: 100%;
  background-image:  url('../assets/sk8er-4.png');
  background-size: 140%;
  top: 0;
  right: 0;
  color: white;
  padding-right: 10px;
  border: 5px solid white;

  & h1 {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

.skater-2 {
  float: left;
}

.skater2 {
  max-width: 100%;
  background-image: url('../assets/sk8er-3.png');
  background-size: cover;
  border: 5px solid white;

  & h1 {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

.skater-3 {
  float: left;
}

.skater3 {
  background-image: url('../assets/sk8er-1.png');
  border: 5px solid white;
  max-width: 100%;
  background-size: 110%;
  color: white;
  text-align: center;
  background-position: 0 -70px;

  & h1 {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

.skater-4 {
  float: right;
}

.skater4 {
  max-width: 100%;
  background-image: url('../assets/sk8er-2.png');
  background-size: 260%;
  background-position: 420px 0;
  border: 5px solid white;

  & h1 {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}


// Skateboards area
.boards {
  max-width: 100%;
  height: auto;
  background-color: white;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#boardimg {
  display: inline-block;
  padding: 10px;
}

// Footer area (currently not needed)
.contact {
  width: 100%;
  height: 450px;
  background-color: white;
  padding: 20px;
}

.info {
  float: left;
  text-align: left;
  padding-right: 12px;
  margin-top: -18px;
}

.info-socials {
}

#info-fb {
  margin-left: 10px;
  font-size: 1.8em;

  & a {
  color: #777;
  }

  & a:hover {
    color: blue;
  }
}

#info-rss {
  font-size: 1.8em;

    & a {
    color: #999;
    }

    & a:hover {
      color: orange;
    }
  }

#info-twt {
  font-size: 1.8em;

    & a {
    color: #666;
    }

    & a:hover {
      color: lightblue;
    }
  }

#info-yt {
  font-size: 1.8em;

    & a {
    color: #555;
    }

    & a:hover {
      color: red;
    }
  }

.form-sec {
  float: right;
  padding-left: 30px;
}
