// Bootstrap Variables customized for this project
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width:         20px !default;

// Install Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {

}

h2 {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

li {
  display: inline;
  padding: 10px;
}

// Background Fill
.wrapper {
  width: 100%;
  height: auto;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, .6);
}

.container {
  max-width: 1000px;
}

// Central content frame
.main-content {
  max-width: 1044px;
  height: 100%;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  color: black;
  margin: 0 auto;
  text-align: center;
}

// Main image & logo
.top-image {
  max-width: 1024px;
  height: 357px;
  background-image: url(../assets/top-image.png);
  background-size: 130%;
  background-position: 0 -135px;
  background-repeat: no-repeat;
  border: 10px solid white;
  position: relative;

  & :before {
    content: "";
    background-image: url(../assets/grid.png);
    background-repeat: repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .logo {
    position: relative;
    padding-left: 40px;
    line-height: 340px;
    z-index: 1;
  }
}


// Blog summaries
.topicbox {
  width: 33.333%;
  height: 400px;
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  line-height: 1em;

  p {
    font-size: .95em;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    color: #666;
    line-height: 1.8em;
  }
}

#date {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Hind', sans-serif;
  color: #999;
}

#read-more {
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(180, 41, 46);
  display: block;
  text-align: center;
}


// Skateboards area
.boards {
  max-width: 100%;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#boardimg {
  display: inline;
}

// Footer area (currently not needed)
.contact {
  width: 100%;
  height: 450px;
  background-color: white;
  padding: 20px;
}

.info {
  float: left;
}

.form-sec {
  float: right;
}
